html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
	width: 100%;
} #header_inner,.main_contact,#section02_inner,#company {
	width: 960px;
	margin: 0 auto;
}


*, *:before, *:after {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}
.cp_navi {
 position: relative;
 overflow: hidden;
 width: 360px;
 height:500px;
}
.cp_navi #cp_sidenav a {
 font-size: 15px;
 position: absolute;
 left: -95px;
 width: 110px;
 height: 54px;
 padding: 12px 15px;
 transition: 0.3s;
 text-decoration: none;
 color: #ffffff;
 border-radius: 0 5px 5px 0;
}
.cp_navi #cp_sidenav a:hover {
 left: -10px;
}
.cp_navi #home {
 top: 20px;
 background-color: #da3c41;
}
.cp_navi #news {
 top: 80px;
 background-color: #1b2538;
}
.cp_navi #contact {
 top: 140px;
 background-color: #2e9b72;
}
.cp_navi #lifelong {
 top: 200px;
 background-color: #a62e7a;
}
.cp_navi #store {
 top: 260px;
 background-color: #00ff00;
}
.cp_navi #question {
 top: 320px;
 background-color: #0000ff;
}


ul {
 width: 200px;
 margin: 0;
 padding: 0;
 list-style-type: none;
 background-color: #eeeeee;
}
li a {
 display: block;
 padding: 8px 16px;
 text-decoration: none;
 color: #000000;
}
li {
 text-align: center;
}
li:last-child {
 border-bottom: none;
}
li a.active {
 color: #ffffff;
 background-color: #da3c41;
}
li a:hover:not(.active) {
 color: #ffffff;
 background-color: #1b2538;
}




 #header_inner {
	height: 85px;
	position: relative;
} #header_logo,#header_contact,#header_text {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
} #header_logo {
	width: 194px;
	height: 40px;
	left: 19px;
} #header_contact {
	width: 155px;
	height: 51px;
	right: 0;} #header_contact_inner {
	display: block;
	width: 102px;
	height: 24px;
	text-align: center;
	padding: 14px 26px 13px 27px;
	background-color: #ff0600;
	transition: 0.4s;
} #header_contact_inner:hover {
	transform: scale(1.1,1.1);
} #header_contact_inner p {
	color: #fff;
} #header_text {
	width: 243px;
	height: 400px;
	right: 155px;
} #header_text p {
	font-size: 0.9rem;
} #main_image {
	display: table;
	width: 100%;
	height: 482px;
	background-size: cover;
} #main_image_inner {
	width: 100%;
	height: 482px;
	position: relative;
	background: url(file:///C:/Users/%E6%AB%BB%E4%BA%95%E3%80%80%E6%9F%9A%E7%B6%BA/Desktop/sample-project/images/main_image01.jpg) no-repeat;
	background-size:cover;
}
h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 85px;
	margin: auto;
	color: #ccc;
	font-size: 4.3rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.scroll {
	height: 87px;
	width: 100%;
	background-color: #D0B0FF;
	position: relative;
	display: table;
}
.scroll:after {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	bottom: -14px;
	border-top: 43px solid #D0B0FF;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}
h2 {
	color: #fff;
	font-size: 1.9rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
nav {
	height: 396px;
	width: 100%;
	margin: 0 auto;
} #main_nav {
	width: 67.5%;
	min-width: 687px;
	height: 396px;
	overflow: hidden;
	margin: 0 auto;
	padding: 88px 0;
} #main_nav li {
	float: left;
	height: 225px;
	width: 225px;
	border: 2px solid #000;
	border-radius: 50%;
	position: relative;
} #main_nav li:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 22px;
	right: 0;
	left: 0;
	width: 21px;
	height: 21px;
	margin: auto;
	border-right: 3px solid #000;
	border-bottom: 3px solid #000;
	transform: rotate(45deg);
} #main_nav li:last-of-type {
	float: none;
	margin: 0 auto;
} #main_nav li:nth-of-type(2) {
	float: right;
} #main_nav a {
	color: #000;
	font-size: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 50%;
	text-align: center;
	padding: 83px 0 100px;
} #div03 {
	margin-bottom: 100px;
}
.contents {
	height: 400px;
	overflow: hidden;
}
.left {
	float: left;
	height: 400px;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
} #photo01 {
	background-image: url(file:///C:/Users/%E6%AB%BB%E4%BA%95%E3%80%80%E6%9F%9A%E7%B6%BA/Desktop/sample-project/images/photo01.jpg);
} #photo02 {
	background-image: url(file:///C:/Users/%E6%AB%BB%E4%BA%95%E3%80%80%E6%9F%9A%E7%B6%BA/Desktop/sample-project/images/photo02.jpg);
} #photo03 {
	background-image: url(file:///C:/Users/%E6%AB%BB%E4%BA%95%E3%80%80%E6%9F%9A%E7%B6%BA/Desktop/sample-project/images/photo03.jpg);
}
.right {
	float: right;
	width: 50%;
	height: 400px;
}
.text {
	background-color: #D0B0FF;
}
.contents p,h4 {
	margin: 30px 120px 0 21px;
	color: #fff;
}
h4 {
	font-size: 1.25rem;
}
.main_contact {
	height: 163px;
	background-color: #D0B0FF;
	margin-bottom: 100px;
	overflow: hidden;
}
.main_contact_inner {
	width: 50%;
	height: 163px;
	position: relative;
}
.contact_left {
	float: left;
}
.contact_left_inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 307px;
	height: 53px;
	margin: auto;
	overflow: hidden;
}
.contact_left_inner img {
	float: left;
}
.contact_left_inner p {
	float: right;
	font-size: 1.4rem;
	line-height: 20px;
	margin: 9px 0 5px;
}
.contact_left_inner span {
	font-size: 0.9rem;
}
.contact_right {
	float: right;
}
.contact_right_inner {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 243px;
	height: 33px;
	margin: auto;
	padding: 25px 85px 25px 41px;
	background-color: #ff0600;
	transition: 0.4s;
}
.contact_right_inner:hover {
	transform: scale(1.1,1.1);
}
.contact_right p {
	float: right;
	color: #fff;
	font-size: 1.3rem;
}
footer {
	height: 93px;
	background-color: #D0B0FF;
}
footer p {
	margin-left: 119px;
	font-size: 0.75rem;
	line-height: 93px;
}
